/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f5cb4064;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container principal */
.container {
    margin-top: 160px;
    background-color: #f5ca40cc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

/* Cabeçalho de confirmação */
h1 {
    font-size: 2rem;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

/* Mensagem de confirmação */
p {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 30px;
}

/* Detalhes do pedido */
.detalhes-pedido {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.detalhes-pedido h2 {
    font-size: 1.2rem;
    color: black;
    margin-bottom: 10px;
}

.detalhes-pedido ul {
    list-style-type: none;
}

.detalhes-pedido li {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 8px;
}

.detalhes-pedido li strong {
    color: black;
}

/* Botão */
button {
    background-color: white;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}


/*Cabeçalho*/
#header {
    background-color: #EBBE29; /* Grey background */
    padding: 5px 5px; /* Some padding */
    color: black;
    text-align: center; /* Centered text */
    font-size: 90px; /* Big font size */
    font-weight: bold;
    position: fixed; /* Fixed position - sit on top of the page */
    top: 0;
    width: 100%; /* Full width */
}
  
/* Menu Dropup no Rodapé */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EBBE29;
    color: white;
    text-align: center;
    padding: 10px 0;
    height: 107px;
}
  
.footer-container {
    display: flex;
    justify-content: center;
}
  
/* Menu */
.dropbtn{
    background-color: #EBBE29;
    border: none;
}
  
.dropup {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    position: relative;
    display: inline-block;
}
  
/* Dropup content (Hidden by Default) */
.dropup-content {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #F0CD5C;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropup */
.dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropup links on hover */
.dropup-content a:hover {background-color: #ddd}
  
/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
    display: block;
 }
  
/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
    background-color: #F0CD5C;
}
  
.icones{
    display:flex;
    padding: 16px;
    width: 100%;
    justify-content: space-around;
}